<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    
    <div th:if="${param.error}">
        <p th:text="${param.error}">Error</p>
    </div>
    
    <form th:action="@{/register}" th:object="${user}" method="post">
        <div>
            <label>Username: <input type="text" th:field="*{username}" required/></label>
        </div>
        <div>
            <label>Password: <input type="password" th:field="*{password}" required/></label>
        </div>
        <div>
            <label>Email: <input type="email" th:field="*{email}" required/></label>
        </div>
        <div>
            <label>Full Name: <input type="text" th:field="*{fullName}" required/></label>
        </div>
        <div>
            <input type="submit" value="Register"/>
        </div>
    </form>
    
    <div>
        <a th:href="@{/login}">Already have an account? Login</a>
    </div>
</body>
</html> 